.home-container {
  width: 100%;
  margin: auto;
  /*Flexbox */
  display: flex;
  flex-flow: row wrap;
}

@media screen and (max-width: 780px) {
  .lucy-header-container {
    font-size: 1rem;
  }

  .lucy-header {
    width: 50%;
  }
}

@media screen and (max-width: 460px) {
  #logo-lucy {
      margin-bottom: .9rem;
  }

  .lucy-header-text {
    height: 30%;
    width: 100%;
  }

  .lucy-header {
    width: 100%;
    height: 70%;
  }
  .lucy-header-container {
    padding-top: 5.6rem;
    height: 36rem;
  }

  #lucyBanner {
    background-image: url("../Images/mobil-header-lucy.png");
  }

  .project-container-info {
    height: 36rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 2rem 0rem;
  }

  .project-images {
    width: 100%;
    height: 40%;
  }
  .hide {
    display: none;
  }

  .project-text {
    width: 100%;
    height: 60%;
    padding: 0.5rem;
    justify-content: initial;
  }

  #pokemon-image {
    background-size: contain;
    width: 100%;
  }

  #bikely-image {
    background-size: contain;
    width: 100%;
  }

  #il-piccolo-image {
    background-size: contain;
    width: 100%;
    background-repeat: no-repeat;
  }

  #foodmap-image {
    background-size: contain;
  }

  .project-text-titles {
    width: 100%;
  }

  .logo-container {
    justify-content: initial;
  }
}