.lucy-know {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* border: 1px solid black; */
  }

.lucy-know-text{
    margin-bottom: .5rem;
}

.icons-all{
    display: flex;
    flex-direction: row;
    padding: 1.1rem;
    flex-wrap: wrap;
    justify-content: center;
}

.icon-with-name{
    text-align: center;
    /* border: 1px solid; */
    padding: 1rem;
    width: 7rem;
}
.dev-icons{
font-size: 3rem;
color: #60BEA7;
}
.icons-text{
    padding-top: .3rem;
    font-size: .8rem;
}

.firebase {
    background-image: url("../Images/firebase-1.png");
    background-repeat: no-repeat;
    height: 3rem;;
}

.logos-icon{
width: 4.5rem;
}

.scrum {
    background-image: url("../Images/scrum.png");
    background-repeat: no-repeat;
    height: 3rem;;
}

.figma {
    background-image: url("../Images/figma.png");
    background-repeat: no-repeat;
    height: 3rem;;
}