/*------------PROJECTS------------ */
.project-all {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.titles {
  text-align: center;
  width: 100%;
  margin-top: 20px;

  /* padding-top: 20px; */
}

.project-container {
  width: 100%;
  /*Flexbox */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-container-info {
  font-size: 0.9rem;
  height: 26rem;
  width: 100%;
  /*Flexbox */
  display: flex;
  flex-wrap: wrap;
  /* border: 1px solid black; */
}

.pixar{
  background: #f1d8d3;
}

.share-smile {
  background: #e6edf0;
}

.il-piccolo {
  background: #f3914f;
}

.project-images {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  /* border: 1px solid blue; */
}

.project-text {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  justify-content: center;
  /* border: 1px solid black; */
}

.project-text-titles {
  font-weight: bold;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid black;
  width: 55%;
}

.project-text-info {
  padding: 1rem;
  letter-spacing: 1px;
}

.images-menu-links {
  padding: 7px;
  border: 1px black solid;
  text-decoration: none;
  font-weight: bold;
  color: inherit;
  border-radius: 0.3rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.white-text{
  color: white;
}

#starbucks-image{
  background-image: url("../Images/starbucks.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#pixar-image {
  background-image: url("../Images/pixar-3.gif");
  background-size: cover;
  width: 100%;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

#pokemon-image {
  background-image: url("../Images/pokemon-home-gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}

#share-image {
  background-image: url("../Images/share-smile.png");
  background-size: cover;
  width: 100%;
  /* background-repeat: no-repeat; */
  /* background-size: cover; */
}

#bikely-image {
  background-image: url("../Images/bikely.gif");
  background-repeat: no-repeat;
  /* background-size: cover; */
  width: 100%;
}

#il-piccolo-image {
  background-image: url("../Images/il-piccolo.png");
  background-size: cover;
  width: 100%;
}

#foodmap-image {
  background-image: url("../Images/foodmap-gif.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
}