.home-container{
    width:80%;
    margin:auto;
 
     /*Flexbox */
    display:flex;
    flex-flow:row wrap;
}
/*------------HEADER------------ */
.lucy-header-container{
    align-items: center;
    justify-content: center;
    font-size: 26px;
    width: 100%;
    /* border: 1px black solid; */
    
    /*Flexbox */
    display: flex;
    flex-direction: column;
    
}


.lucy-header{
    /* position: relative; */
    background-image: url("./Images/banner-home-3.png");
    background-size: cover;
    width: 100%;
    height: 485px;
    display: flex;
}

.lucy-header-text{
    /* position: absolute;
    bottom: 250px;
    right: 650px; */
    width: 500px;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    padding-top: 100px;
    align-items: center;
}

.lucy-name{
height: 120px;
padding: 10px;
}

/*------------NAV------------ */
.header-nav{
    width: 100%;
    font-size: 16px;
    /*Flexbox */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-nav-a{
    padding: 7px;
    border-right: 1px black solid;
    /*Flexbox */

    
}
/*------------MENUS------------ */
.menu-all{
    display: flex;
    flex-wrap: wrap;
}
.titles{
    text-align: center;
    width: 100%;
    margin: 20px;
}
.menu-container{
    /* border: 1px solid black; */
    width: 100%;
    
    
    /* margin: 20px;*/
    /*Flexbox */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between; */
}

.menu-item{
    display: flex;
    flex-direction: column;
    /* margin: 20px; */
    /* flex: 50%;
    max-width: 50%; */
}

.images-menus{
    padding: 10px;
    /* border: 1px solid red; */
    margin:10px;
    width: 100%;
    vertical-align: middle;
    margin: 20px;
    /*Flexbox */
    /* flex-grow: 1; */
    /* display: flex;
    flex-direction: column; */
    /* align-items: center;
    justify-content: center; */
}

.images-small{
    height: 302px; 
     width: 450px;
     border-radius: 20px;
     /* background: pink; */
}

.images-large{
    height: 640px;
    width: 450px;
    border-radius: 20px;
    /* background: red; */
}

.images-high{
    height: 290px;
    width: 940px;
    border-radius: 20px;
    /* background: blue; */
}


#pokemon-image{
    background-image: url("./Images/POKEMON-HOME.gif");
} 

#foodmap-image{
    background-image: url('./Images/foodmap.png');
}

#share-image{
    background-image: url('./Images/share-smile.png');
}

 #il-piccolo-image{
    background-image: url('./Images/il-piccolo-gif.gif')
}



/*------------FOOTER MENU------------ */

.footer-container{
    /* border: 1px solid black; */
    color: white;
    background: #1B4E59;
    width: 100%;
    padding: 20px;
   
    /*Flexbox */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: center;
    justify-content: center;
    /* flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between; */
}

.about-footer {
    width: 800px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 20px;
} 


.title-footer{
    font-size: 32px;
}
.logo-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
} 

.logos-home{
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    padding: 15px;
}
.text-logo-footer{
    margin-left: 10px; 
}

.button-cv{
    font-size: 24px;
    border: 3px solid white;
    border-radius: 10px;
    background-color: transparent;
    color: white;
    padding: 5px;
}

.sign-footer{
    text-align: center;
}

@media screen and (max-width: 1300px) {

    /*------------HEADER------------ */

    .home-container {
        width: 100%;
    }

    .lucy-name {
        height: 80px;
    }

    .lucy-header{
        height: 380px;
        /* max-width: 80%; */
    }

    .lucy-header-text {
        font-size: 20px;
    }

    /*------------NAV------------ */
    .header-nav{
        justify-content: space-around;
    }


}

@media screen and (max-width: 780px) {
    .menu-all{
align-items: center;
width: 100%;
    }

    #share-image{
        background-image: url('./Images/share-smile-tablet.png');
    }
    
     #il-piccolo-image{
        background-image: url('./Images/tablet-il-piccolo-gif.gif')
    }

    .images-large{
        height: 302px;
        width: 450px;
        
    }
    
    .images-high{
        height: 302px;
        width: 450px;
    }
    
}

@media screen and (max-width: 460px) {
    .lucy-header{
        background-image: url("./Images/banner.jpg");
        background-size: 100%;
        height: 485px;
        background-repeat: no-repeat;
        border-radius: 20px;
    }

    .images-menus{
        max-width: 80%;
    }

    .lucy-header-text{
        padding-left: 0px;
        padding-top: 280px;
        align-items: center;
        text-align: center;
    }

    .images-small{
        height: 200px; 
        width: 300px;
        background-size: 100%
    }
    
    .images-large{
        height: 200px; 
        width: 300px;
        background-size: 100%
    }
    
    .images-high{
        height: 200px; 
        width: 300px;
        background-size: 100%
    }

    /* #pokemon-image{
        background-image: url("./Images/pokemon-mobile-gif.gif");
    } 
    
    #foodmap-image{
        background-size: 100%;
    }
    
    #share-image{
        background-image: url('./Images/share-smile.png');
    }
    
     #il-piccolo-image{
        background-image: url('./Images/il-piccolo-gif.gif')
    } */
}